@charset "UTF-8";
/* Index */

/* Sección acercaNuestro */
div .acercaNuestro {
  text-align: center;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px; }
  div .acercaNuestro h3 {
    color: #E61772;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%; }

p {
  color: black;
  /* En estas tres líneas apliqué VARS */
  letter-spacing: 1px; }

/*Ni idea si está bien aplicado acá abajo el nesting o me compliqué demasiado tratando q sea prolijo */
.contenidoNuestro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .contenidoNuestro .somerville {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .contenidoNuestro .somerville .nombre {
      font-size: 100%;
      padding-top: 1vw;
      padding-bottom: 1vw; }
    .contenidoNuestro .somerville .imagenSommelier {
      width: 60%;
      padding-left: 4vw;
      justify-content: space-evenly; }
    .contenidoNuestro .somerville .pcia {
      padding-bottom: 1vw; }
    .contenidoNuestro .somerville .blahSommelier {
      padding-bottom: 1vw; }
  .contenidoNuestro .medina {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .contenidoNuestro .medina .nombre {
      font-size: 100%;
      padding-top: 1vw;
      padding-bottom: 1vw; }
    .contenidoNuestro .medina .imagenSommelier {
      width: 60%;
      padding-left: 4vw;
      justify-content: space-evenly; }
    .contenidoNuestro .medina .pcia {
      padding-bottom: 1vw; }
    .contenidoNuestro .medina .blahSommelier {
      padding-bottom: 1vw; }
  .contenidoNuestro .villalonga {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .contenidoNuestro .villalonga .nombre {
      font-size: 100%;
      padding-top: 1vw;
      padding-bottom: 1vw; }
    .contenidoNuestro .villalonga .imagenSommelier {
      width: 60%;
      padding-left: 4vw;
      justify-content: space-evenly; }
    .contenidoNuestro .villalonga .pcia {
      padding-bottom: 1vw; }
    .contenidoNuestro .villalonga .blahSommelier {
      padding-bottom: 1vw; }
  .contenidoNuestro .simonelli {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .contenidoNuestro .simonelli .nombre {
      font-size: 100%;
      padding-top: 1vw;
      padding-bottom: 1vw; }
    .contenidoNuestro .simonelli .imagenSommelier {
      width: 60%;
      padding-left: 4vw;
      justify-content: space-evenly; }
    .contenidoNuestro .simonelli .pcia {
      padding-bottom: 1vw; }
    .contenidoNuestro .simonelli .blahSommelier {
      padding-bottom: 1vw; }

.contenidoNuestro .imagenSommelier {
  width: 60%;
  padding-left: 4vw;
  justify-content: space-evenly; }

.contenidoNuestro .imagenSommelier {
  width: 60%;
  padding-left: 4vw;
  justify-content: space-evenly; }

.contenidoNuestro .imagenSommelier {
  width: 60%;
  padding-left: 4vw;
  justify-content: space-evenly; }

.contenidoNuestro .imagenSommelier {
  width: 60%;
  padding-left: 4vw;
  justify-content: space-evenly; }

